{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
            {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                {% for foo in assignment %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4>Content</h4> {{ foo.content }} </p>
                    <br/>
                    <p> <h4>Marks</h4> {{ foo.marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>

                    <a href="{% url 'core:delete-assignment' foo.id %}">Delete Assignment</a>

                {% endfor %}
                <hr/>


                <h4><a href="{% url 'core:assignment-create' %}">Create a Assignment</a></h4>


            {% else %}


                {% for foo in assignment %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4>Content</h4> {{ foo.content }} </p>
                    <br/>
                    <p> <h4>Marks</h4> {{ foo.marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>
                          <br/>
                      <h4><a href="{% url 'core:assignment-submission' %}">Submit Assignment</a></h4>
                  <hr/>
                {% endfor %}
                <hr/>


            {% endif %}
            <br/>
        </div>

    </div>

{% endblock %}