{% extends 'base.html' %}
{% load static %}
{% block title %}Exam Submissions{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
                    <strong><h3>Exam Submissions</h3></strong>
        <hr/>
            {% for foo in exam_submission %}


                <p> <h4>Name</h4> {{ foo.name }} </p>

                <p> <h4>Id</h4> {{ foo.university_id }} </p>
                <hr/>
                <p> <h4>Answer</h4> {{ foo.content }}  </p>

                <br/>
                <a href="{% url 'core:exam-submission-delete' foo.id %}">Delete </a>
                  <hr/>
            {% endfor %}




            <br/>


            <br/>


        </div>

    </div>

{% endblock %}