{% extends 'base.html' %}
{% load static %}
{% block title %}Courses{% endblock %}


{% block content %}

    <div class="container">

    <div class="col-12 col-sm-6 col-md-10">


             <h3><strong>{{ course.course_name }}  </strong></h3>
              <br/>
            <img  style=" height: 300px; width: 900px  " src="{{ course.course_image.url }}" alt="">


                         <hr/>
                  <h4> <strong>Instructor :</strong> {{ course.teacher_name }} </h4>
                           <br/>
                  <p> <h4>About Instructor </h4>{{ course.teacher_details }} </p>
                          <br/>
                  <p> <h4>About Course </h4>{{ course.course_description }} </p>

                          <br/>
                  <h4><a href="{% url 'core:assignment-list' %}">Assignments </a></h4>
                           <br/>
                  <h4><a href="{% url 'core:exam-list' %}">Exams </a> </h4>
                           <br/>
                  <p>  <h4>Course Duration </h4>{{ course.created_at }} - {{ course.end_date }} </p>




         </div>

    </div>

{% endblock %}